$black: #000000;
$primary: #ee3b34;
$secondary: #a78227;
$third: #949fb3;
$hover: #9d2824;
$fade: #949fb3;

$black-light: #0000002f;

$colorbg: #fff;
$colorbg2: #a78227;

$gradient1: linear-gradient(271.24deg, #ee3b34 1.64%, #ff0a00 95.48%);
$gradient2: linear-gradient(271.24deg, #952723 1.64%, #872522 95.48%);
