@import "../variables/colors.scss";

.aboutcar-sec {
  .head-2 {
    color: $primary;
  }
  .body {
    font-weight: 300;
    font-size: 16px;
    line-height: 132%;
    color: $fade;
  }
  .arrow {
    color: $primary;
  }
}
